<div class="container p-4">
  <h1>Employee Home</h1>
  <a href="https://getbootstrap.com/docs/4.3/components/modal/#varying-modal-content">Documentation</a>
<hr>
<!-- Modal 1 Content   -->
<button 

(click)="getUserInfo()"
type="button" 
class="btn btn-secondary" 
data-toggle="modal" 
data-target="#templateModal" 
data-name="name"
data-title="title 1"
data-customer="Chrysler"
data-logo="https://dummyimage.com/400x200/000/fff.png&text=modal+1"
data-industry="industry"
data-products="products"
data-sales cycle="sales cycle"
data-competition="competition"
data-background="background"
data-salesperson="Tony Tiger"
data-jobtitle="jobtitle"
data-headshot="headshot"
data-email="email"
data-metrics="metrics"
data-economicBuyer="economicBuyer"
data-decisionCriteria="decisionCriteria" 
data-decisionProcess="decisionProcess"
data-identifyPain="identifyPain"
data-champion="champion"
>
Your info
</button>  


<!-- Modal 2 Content   -->
<button 
type="button" 
class="btn btn-secondary" 
data-toggle="modal" 
data-target="#templateModal" 
data-name="name"
data-title="title 2"
data-customer="Chrysler"
data-logo="https://dummyimage.com/400x200/000/fff.png&text=modal+2"
data-industry="industry"
data-products="products"
data-sales cycle="sales cycle"
data-competition="competition"
data-background="background"
data-salesperson="Tony Tiger"
data-jobtitle="jobtitle"
data-headshot="headshot"
data-email="email"
data-metrics="metrics"
data-economicBuyer="economicBuyer"
data-decisionCriteria="decisionCriteria" 
data-decisionProcess="decisionProcess"
data-identifyPain="identifyPain"
data-champion="champion"
>
Requests 
</button>




</div>


<!-- /.container -->


